/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:white;
min-height:100vh;
}

/* NAVBAR */

.custom-nav{
background:rgba(15,23,42,.95);
padding:14px 0;
box-shadow:0 0 20px rgba(0,229,255,.15);
}

.logo{
font-size:1.5rem;
font-weight:700;
color:#00e5ff !important;
}

.nav-link{
color:#ddd !important;
margin-left:12px;
transition:.3s;
}

.nav-link:hover{
color:#00e5ff !important;
}

/* TITLE */

.title{
text-align:center;
font-size:2.8rem;
font-weight:700;
margin-bottom:40px;
color:#00e5ff;
text-shadow:0 0 15px #00e5ff;
}

/* STAT CARDS */

.stat-card{

background:
rgba(255,255,255,.06);

padding:30px;

border-radius:20px;

text-align:center;

transition:.35s;

border:
1px solid rgba(255,255,255,.08);

}

.stat-card:hover{

transform:translateY(-8px);

box-shadow:
0 0 30px rgba(0,229,255,.25);

}

.stat-card i{

font-size:2.3rem;

color:#00e5ff;

margin-bottom:15px;

}

.stat-card h2{

font-size:2.2rem;

font-weight:700;

margin-bottom:10px;

color:#7b2ff7;

}

.stat-card p{

color:#ddd;

margin:0;

}

/* CHART CARD */

.chart-card{

background:
rgba(255,255,255,.05);

padding:25px;

border-radius:20px;

border:
1px solid rgba(255,255,255,.08);

transition:.3s;

}

.chart-card:hover{

box-shadow:
0 0 30px rgba(123,47,247,.35);

}

.chart-card h4{

text-align:center;

margin-bottom:20px;

color:#00e5ff;

}

/* CANVAS */

canvas{

max-height:350px;

}

/* RESPONSIVE */

@media(max-width:768px){

.title{

font-size:2rem;

}

.stat-card{

padding:20px;

}

.chart-card{

padding:18px;

}

}