/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:white;
min-height:100vh;
}

/* NAVBAR */

.custom-nav{
background:rgba(15,23,42,.95);
padding:14px 0;
box-shadow:0 0 20px rgba(0,229,255,.15);
}

.logo{
font-size:1.5rem;
font-weight:700;
color:#00e5ff !important;
}

.nav-link{
color:#ddd !important;
margin-left:12px;
transition:.3s;
}

.nav-link:hover{
color:#00e5ff !important;
}

/* TITLE */

.title{
text-align:center;
font-size:2.8rem;
font-weight:700;
margin-bottom:40px;
color:#00e5ff;
text-shadow:0 0 15px #00e5ff;
}

/* CALENDAR CARD */

.calendar-card{

background:
rgba(255,255,255,.06);

padding:25px;

border-radius:25px;

border:
1px solid rgba(255,255,255,.08);

}

/* HEADER */

.calendar-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.calendar-header h3{

margin:0;

color:#00e5ff;

}

/* BUTTON */

.btn-neon{

background:
linear-gradient(45deg,#7b2ff7,#00e5ff);

border:none;

color:white;

font-weight:600;

padding:10px 16px;

transition:.3s;

}

.btn-neon:hover{

transform:translateY(-3px);

box-shadow:
0 0 20px rgba(0,229,255,.45);

color:white;

}

/* WEEKDAYS */

.weekdays{

display:grid;

grid-template-columns:
repeat(7,1fr);

gap:10px;

margin-bottom:15px;

font-weight:700;

text-align:center;

color:#00e5ff;

}

/* GRID */

.calendar-grid{

display:grid;

grid-template-columns:
repeat(7,1fr);

gap:10px;

}

/* DAY */

.day{

background:
rgba(255,255,255,.05);

padding:18px;

border-radius:16px;

text-align:center;

transition:.3s;

min-height:80px;

}

.day:hover{

transform:translateY(-4px);

box-shadow:
0 0 20px rgba(123,47,247,.3);

}

/* TODAY */

.today{

border:
2px solid #00e5ff;

box-shadow:
0 0 20px rgba(0,229,255,.35);

}

/* TASK DAY */

.task-day{

background:
linear-gradient(
45deg,
#7b2ff7,
#00e5ff
);

font-weight:700;

}

/* UPCOMING CARD */

.upcoming-card{

background:
rgba(255,255,255,.06);

padding:25px;

border-radius:25px;

border:
1px solid rgba(255,255,255,.08);

}

.upcoming-card h4{

color:#00e5ff;

margin-bottom:20px;

}

/* TASK ITEM */

.task-item{

background:
rgba(255,255,255,.05);

padding:16px;

border-radius:14px;

margin-bottom:15px;

transition:.3s;

}

.task-item:hover{

transform:translateX(6px);

box-shadow:
0 0 18px rgba(0,229,255,.2);

}

.task-item strong{

display:block;

margin-bottom:8px;

}

/* RESPONSIVE */

@media(max-width:768px){

.title{

font-size:2rem;

}

.day{

padding:12px;

min-height:65px;

font-size:.85rem;

}

}